<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="priority_customer_create_admin" instance="Priority\Api\Observer\CustomerAdminCreate"/>
    </event>
	<event name="checkout_onepage_controller_success_action">
        <observer name="priority_api_place_order" instance="Priority\Api\Observer\PlaceOrder" />
    </event>
</config>