 .data-grid-cell-content {
	 word-break: break-word;
 }
 .button{
	background: none!important;
    border: none;
    padding: 0!important;
    color: #007bff;
	font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
 }